<footer class="footer-section">
  <div class="footer-bottom">
    <div class="footer-top2">
      <img
        src="assets/nexcent-logo.svg"
        alt="Nexcent-logo"
        class="footer-logo"
      />
      <p>
        Copyright © 2020 Nexcent ltd. <br />
        All rights reserved
      </p>
      <div class="social-icons">
        <a href="#"><img src="assets/social-icon1.svg" alt="Icon 1" /></a>
        <a href="#"><img src="assets/social-icon1.svg" alt="Icon 2" /></a>
        <a href="#"><img src="assets/social-icon1.svg" alt="Icon 3" /></a>
        <a href="#"><img src="assets/social-icon1.svg" alt="Icon 4" /></a>
      </div>
    </div>
    <div class="footer-column">
      <h4>Company</h4>
      <a href="#">About us</a>
      <a href="#">Blog</a>
      <a href="#">Contact us</a>
      <a href="#">Pricing</a>
      <a href="#">Testimonials</a>
    </div>

    <div class="footer-column">
      <h4>Support</h4>
      <a href="#">Help center</a>
      <a href="#">Terms of service</a>
      <a href="#">Legal</a>
      <a href="#">Privacy policy</a>
      <a href="#">Status</a>
    </div>

    <div class="footer-column">
      <h4>Stay up to date</h4>
      <div class="email-subscription">
        <input type="email" placeholder="Your email address" />
        <button type="submit">→</button>
      </div>
    </div>
  </div>
</footer>
