.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--neutral-white);
}

.logo {
  display: flex;
  align-items: center;
}
.header-container svg {
  height: 40px;
  margin-right: 10px;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}
.nav-link:hover {
  color: #28cb8b; /* Green color on hover */
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-link {
  text-decoration: none;
  color: #28cb8b;
  font-size: 1rem;
}
