<div class="marketing-section">
  <h2>Caring is the new marketing</h2>
  <p>
    The Nexcent blog is the best place to read about the latest membership
    insights, trends and more. See who's joining the community, read about how
    our community are increasing their membership income and lots more.
  </p>

  <div class="card-container">
    <div class="card1">
      <div class="card">
        <img src="assets/marketing1.svg" alt="Safeguarding Process" />
        <div class="card-content">
          <h3>Creating Streamlined Safeguarding Processes with OneRen</h3>
          <a href="#" class="read-more">Readmore →</a>
        </div>
      </div>
    </div>
    <div class="card1">
      <div class="card">
        <img src="assets/marketing1.svg" alt="Safeguarding Responsibilities" />
        <div class="card-content">
          <h3>
            What are your safeguarding responsibilities and how can you manage
            them?
          </h3>
          <a href="#" class="read-more">Readmore →</a>
        </div>
      </div>
    </div>
    <div class="card1">
      <div class="card">
        <img src="assets/marketing1.svg" alt="Membership Model" />
        <div class="card-content">
          <h3>Revamping the Membership Model with Triathlon Australia</h3>
          <a href="#" class="read-more">Readmore →</a>
        </div>
      </div>
    </div>
  </div>
</div>
