.marketing-section {
  text-align: center;
  padding: 40px;
  background-color: var(--neutral-white);
}

.marketing-section h2 {
  font-size: 2.25em;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--neutral-black);
}

.marketing-section p {
  margin-bottom: 40px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--neutral-grey);
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: var(--neutral-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  /* width: ; */
  margin: 20px;
  transition: transform 0.3s;
  position: relative;
}

.card1 {
  height: 380px;
  background-color: var(--neutral-white);
}
.card-content {
  padding: 3px;
  position: absolute;
  bottom: -59px;
  background: var(--neutral-white);
  width: 80%;
  /* margin: 0 auto; */
  left: 10%;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.2em;
  color: var(--neutral-black);
  margin-bottom: 15px;
}

.read-more {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s;
}

.read-more:hover {
  color: var(--primary-shade3);
}

.card:hover {
  transform: translateY(-5px);
}
