<div class="app">
  <app-header></app-header>
  <app-hero-section></app-hero-section>
  <app-client-section></app-client-section>
  <app-community-section></app-community-section>
  <app-info-card-section
    [imageUrl]="'assets/info-img1.svg'"
    [altText]="'Illustration Image'"
    [headingText]="'The unseen of spending three years at Pixelgrade'"
    [descriptionText]="
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.'
    "
    [buttonText]="'Learn More'"
  ></app-info-card-section>
</div>
