<div class="testimonial-section">
  <div class="testimonial-card">
    <div class="testimonial-image">
      <img src="assets/tesla-logo.svg" alt="Tesla Logo" />
    </div>
    <div class="testimonial-content">
      <p>
        Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis
        sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus.
        Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut
        molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie,
        nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices,
        quis tristique nulla sodales. Suspendisse eget lorem eu turpis
        vestibulum pretium. Suspendisse potenti. Quisque malesuada enim sapien,
        vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget
        efficitur libero condimentum id. Curabitur id nibh id sem dignissim
        finibus ac sit amet magna.
      </p>
      <h4 class="customer-name">Tim Smith</h4>
      <p class="customer-company">British Dragon Boat Racing Association</p>

      <div class="client-logos">
        <img src="assets/client-logo1.svg" alt="Client 1" />
        <img src="assets/client-logo1.svg" alt="Client 2" />
        <img src="assets/client-logo1.svg" alt="Client 3" />
        <img src="assets/client-logo1.svg" alt="Client 4" />
        <img src="assets/client-logo1.svg" alt="Client 5" />
        <img src="assets/client-logo1.svg" alt="Client 6" />
        <a href="#" class="view-more"
          >Meet all customers
          <svg
            width="17"
            height="11"
            viewBox="0 0 17 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 9.39905L15.2929 6.10615C15.6834 5.71563 15.6834 5.08246 15.2929 4.69194L12 1.39905M15 5.39905L1 5.39905"
              stroke="#4CAF4F"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
